<% content_for :head do %>
<% end %>

<% content_for :body do %>
<div class="container">
	<form action='/login' method='POST'>
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="Username" name="user[username]" placeholder="Username" required>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="Password" name="user[password]" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Login or Auto Sign-Up</button>
	</form>
</div>
<% end %>